*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
}

.uk-logo{
  font-family: 'Pacifico', cursive;
  font-size: 28px;
  margin-right: 20px;
}



/* Visibility */
/* Desktop and bigger */
@media (min-width: 960px) {
 .uk-visible-small {
   display: none !important;
 }
 .uk-visible-medium {
   display: none !important;
 }
 .uk-hidden-large {
   display: none !important;
 }
}
/* Tablets portrait */
@media (min-width: 768px) and (max-width: 959px) {
 .uk-visible-small {
   display: none !important;
 }
 .uk-visible-large {
   display: none !important ;
 }
 .uk-hidden-medium {
   display: none !important;
 }
}
/* Phone landscape and smaller*/
@media (max-width: 767px) {
 .uk-visible-medium {
   display: none !important;
 }
 .uk-visible-large {
   display: none !important;
 }
 .uk-hidden-small {
   display: none !important;
 }
 .uk-logo img{
    height: 70%;
  }
}